<div class="wrapper" *ngIf="user && currentUser">
  <div class="image-wrapper">
    <ng-container [ngTemplateOutlet]="user ? userImage : defaultImage">
    </ng-container>
  </div>
  <section class="user-fields">
    <h2>{{user.displayName}}</h2>
    <p class="bio" *ngIf="!this.isEditing">{{user.bio}}</p>
    <form *ngIf="this.isEditing" [formGroup]="updateProfileForm">
      <input type="text" id="bio" formControlName="bio" [placeholder]="this.user.bio"/>
      <button (click)="hiddenfileinput.click()">
        <span class="material-icons upload">image</span>Set new profile picture
      </button>
      <progress max="100" min="0" [value]="progress"></progress>
      <input type="file"
         formControlName="file"
         id="hidden-file-input"
         (change)="onFileSelected($event)"
         name="image"
         autocomplete="off"
         #hiddenfileinput
      />
    </form>
    <ul>
      <li>
        <h6>{{user.postsCount}}</h6>
        <span>posts</span>
      </li>
      <li>
        <h6>{{user.followersCount}}</h6>
        <span>followers</span>
      </li>
      <li>
        <h6>{{user.followingCount}}</h6>
        <span>following</span>
      </li>
    </ul>
  </section>
  <section class="edit-controls" *ngIf="this.currentUser.uid == this.user.uid">
    <span class="material-icons" *ngIf="!this.isEditing" (click)="this.isEditing = true">edit</span>
    <span class="material-icons" *ngIf="this.isEditing && this.imageLink !== null" (click)="this.isEditing = false; onSubmit()">check</span>
  </section>
</div>




<ng-template #userImage>
  <div class="image" [style.backgroundImage]="this.user.photoURL | urlParentesis"></div>
</ng-template>
<ng-template #defaultImage>
  <div class="image"></div>
</ng-template>