@import '../../styles.scss';

:host {
  width: 100%;
}
.desktop-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.2rem;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 15% 50% 35%;
  align-items: center;

  background: #FFFFFF;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.25);  
  nav {
    margin: 0 0.5rem;
    ul { 
      @include justify-align-direction(space-around, center, row);
  
      li {
        font-size: 1.4rem;
        margin: 0 0.5rem;
      }
    }
  }
  
  .logo-wrapper {
    @include justify-align-direction(center, center, column);
    margin: 0 1rem;
    h1 { 
      font-size: 2.4rem;
      font-family: $font-secondary;
      font-weight: 700;
    }
  }
}
button {
  padding: 0.4rem 1rem;
  background: #FFFFFF;
  outline: none;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  font-family: $font-main;
  cursor: pointer;
}

.mobile-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0 -0.1rem 0.1rem rgba(0, 0, 0, 0.25); 
  .mobile-nav {
    width: 100%;
    @include justify-align-direction(space-around, center, row);

    .material-icons {
      font-size: 4.2rem;
      color: #000000;
    }
  }
}
