@import '../../styles.scss';

.footer-wrapper { 
  @include flex-center(row);
  position: fixed;
  width: 8rem;
  height: 4rem;
  bottom: 1rem;
  right: 1rem;
  background-color: rgba(1,1,1,0.5);
  color: white;
}