@import '../../styles.scss';

:host { 
  @include justify-align-direction(center, center, row);
  width: 100%;
  color: color(text-secondary);
  font-family: $font-main;
  font-size: 1.6rem;
  font-weight: 400;
  box-sizing: border-box;
  margin: 1rem;
  a {
    cursor: pointer;
  }
}