<mat-dialog-content *ngIf="post && postAuthor">
  <app-post-header [userID]="post.author" [createTime]="post.createTime"></app-post-header>
  <ng-container *ngIf="canView()">
    <p class="post-text">{{post.textContent}}</p>
    <ul class="tags-wrapper">
      <li *ngFor="let tag of post.tags" class="tags">
        <app-tag [tag]="tag"></app-tag>
      </li>
    </ul>
    <img [src]="this.post.contentPicURL">
    <div class="controls-wrapper">
      <app-post-stats [post]="post"></app-post-stats>
      <button 
        class="delete-button"
        *ngIf="this.post?.author === this.currentUser?.uid" 
        (click)="deletePost()">Delete post!
      </button>
    </div>  
    <ul class="users-liked" *ngIf="this.post.likeCount > 0">
      <ng-container *ngFor="let user of userSubscription | async; trackBy:trackFunction;">
        <li *ngIf="post.likes?.includes(user.uid)">
          <div 
            class="small-profile-pic" 
            (click)="this.router.navigate(['/profile', user.uid]); this.matDialog.closeAll()" 
            [style.backgroundImage]="user.photoURL | urlParentesis">
          </div>
        </li>
      </ng-container>    
    </ul>
    <form [formGroup]="commentForm">
      <ng-container [ngTemplateOutlet]="currentUser ? userImage : defaultImage">
      </ng-container>
      <div class="input-wrapper">
        <input type="text" id="text-content" formControlName="textContent" placeholder="Share your impression">
        <span class="validator-error" *ngIf="textContent.errors?.maxlength && textContent.touched">Maximum length is 256</span>
      </div>
      <button 
        class="comment-button"
        [disabled]="this.commentForm.invalid || this.commentIsUploading"
        (click)="onSubmit()">Comment!
      </button>
    </form>  
    <ul class="comment-section">
      <li *ngFor="let comment of commentsSubscription | async; trackBy:trackFunction">
        <app-comment 
          [comment]="comment" 
          [post]="post"
          *ngIf="post.comments?.includes(comment.id)"></app-comment>
      </li>
    </ul>
  </ng-container>
  <div class="view-warning" *ngIf="!canView()">
    <span class="material-icons">lock</span>
    <p>You must be a follower to view this post</p>
  </div>
</mat-dialog-content>


<ng-template #userImage>
  <div class="image" [style.backgroundImage]="this.currentUser.photoURL | urlParentesis" fxHide.xs></div>
</ng-template>

<ng-template #defaultImage>
  <div class="image" fxHide.xs></div>
</ng-template>