@import '../../styles.scss';

p {
  margin-top: 2rem;
  font-size: 2.4rem;
}
.image-wrapper {
  @include justify-align-direction(center, center, none);
  width: 100%;
  margin: 2rem 0;
  img {
    width: 50%;
    height: auto;
    border-radius: 0.5rem;
  }
}
button {
  margin-left: 1rem;
  height: 3rem;
  padding: 0.1rem 1.5rem;

  cursor: pointer;
  color: #ffffff;
  background-color: color(accent);
  border: 0.1rem solid color(accent);
  outline: none;
  border-radius: 0.5rem;
  font-family: $font-main;
  font-size: 1.6rem;  
  &:disabled {
    background-color: lighten(color(accent), 20%);
    border: 0.1rem solid lighten(color(accent), 20%);
  }
}
form {
  width: 100%;
  display: grid;
  grid-template-columns: 7rem 1fr 12rem;
  grid-column-gap: 1rem;
  margin: 2rem 0;
  input {
    height: 2.5rem;

    border-radius: 0.5rem;
    border: 0.1rem solid rgb(238, 238, 238);
    outline: none;
    padding: 0.2rem;
    font-size: 1.6rem;
  }
  .image {
    background: blanchedalmond;
    background-position: center;
    background-size: cover;
    width: 7rem;
    height: 7rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
  }
  
}
.users-liked {
  margin: 1rem 0;
  padding: 0.5rem 0;
  border-top: 0.1rem solid rgb(238, 238, 238);
  border-bottom: 0.1rem solid rgb(238, 238, 238);
  display: grid; 
  grid-template-columns: repeat(10, 4rem);
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  li {
    display: grid;
    width: 4rem;
    height: 4rem;
  }
  .small-profile-pic {
    background-position: center;
    background-size: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;

    cursor: pointer;
  }
}

.controls-wrapper {
  @include justify-align-direction(space-between, center, row);
  button {
    background-color: color(error);
    border: 0.1rem solid color(error);
    &:disabled {
      background-color: lighten(color(error), 20%);
      border: 0.1rem solid lighten(color(error), 20%);
    }
  }
}