<app-post-header [userID]="post.author" [createTime]="post.createTime"></app-post-header>
<div class="post-image-wrapper" (click)="deletePost()">
  <div class="post-image" [style.backgroundImage]="getBackgroundImage()"></div>
</div>
<div class="footer-wrapper">
  <ul >
    <li>
      <span class="material-icons">favorite</span>
      <p class="stat-count">{{post.likeCount}}</p>
    </li>
    <li>
      <span class="material-icons">chat_bubble</span>
      <p class="stat-count">{{post.commentCount}}</p>
    </li>
  </ul>
  <div class="post-footer-tag">
    #{{post.tag}}
  </div>
</div>
