@import '../../styles.scss';

.post-image-wrapper {
  margin-top: 2rem;
  .post-image {
    width: 50rem;
    height: 25rem;
    border-radius: 0.5rem;
    background: #6558da;
    background-position: center;
    background-size: cover;
  }
}

.footer-wrapper {
  @include justify-align-direction(space-between, center, row);
  margin-top: 2rem;
  ul {
    @include justify-align-direction(flex-start, center, row);
    li {
      @include justify-align-direction(flex-start,center, row);
      font-size: 1.6rem;
      color: color(text-secondary-color);
      font-family: $font-main;
      margin-right:2rem;
      span {
        cursor: pointer;
        &::selection {
          color: none;
          background: none;
      }
      }
      .stat-count {
        margin: 0 0.5rem;
      }
    }
  }
  .liked {
    color: color(liked);
  }
  .post-footer-tag {
    padding: 0.5rem 1.5rem;
    font-size: 1.6rem;
    font-family: $font-main;
    font-weight: 300;
    border-radius: 3rem;
    background-color: #285A36;
    color: #ffffff;
  }
}