@import '../../styles.scss';

.post-image-wrapper {
  margin-top: 2rem;
  .post-image {
    width: 55rem;
    height: 55rem;
    border-radius: 0.5rem;
    background: #6558da;
    background-position: center;
    background-size: cover;
  }
}

.post-footer-wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .post-footer-stats-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .stat-block-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      font-size: 1.6rem;
      color: map-get($colors , text-secondary-color);
      font-family: $font-main;
      .stat-count {
        margin: 0 2rem 0 1rem;
      }
    }
  }

  .post-footer-tag {
    padding: 0.5rem 1.5rem;
    font-size: 1.6rem;
    font-family: $font-main;
    font-weight: 300;
    border-radius: 3rem;
    background-color: #285A36;
    color: #ffffff;

  }
}