<div class="feed-wrapper">
  <button (click)="create()">Create Post</button>
  <button (click)="delete()">Delete Post</button>

  <!-- Form Example -->
  <!-- <form [formGroup]="postForm" (submit)="onSubmit()">
    <label for="name">name</label>
    <input type="text" id="name" formControlName="name" />
    <label for="name">age</label>
    <input type="text" id="age" formControlName="age" />
    <label for="name">years of experience</label>
    <input type="text" id="yearsOfExperience" formControlName="yearsOfExperience" />

    <button type="submit">Submit!</button>
  </form> -->



  <ul  class="post-list">
    <li *ngFor="let post of postsSubscription | async; trackBy:trackFunction" class="post-wrapper">
      <app-feed-post [post]="post"></app-feed-post>
    </li>
  </ul>
</div>