@import '../../styles.scss';

:host {
  @include justify-align-direction(center, center, none);
  min-height: 100vh;  
  width: 100%;
  background: color(background);
  
  .wrapper {
    @include justify-align-direction(center,flex-start,row);
    margin: 0 0.5rem;
    margin-top: 4.2rem + 1.5rem;
    width: 100%;
    .gap {
      width: 3%;
    }
    @include desktop-medium { 
      @include justify-align-direction(flex-start,center,column);
    }
    
    aside {
      @include justify-align-direction(stretch, flex-start, column);
      position: sticky;
      top: 4.2rem + 1.5rem;
      @include desktop-medium {
        position: unset;
        margin-bottom: 1.5rem;
      }
    }
  }
  ul {
    @include justify-align-direction(none, center, column);
    li {
      background: #ffffff;
      margin-bottom: 1.5rem;
      padding: 2rem;
      border-radius: 0.5rem; 
    }
  }
}


