<div class="wrapper" *ngIf="currentUser">
  <aside fxHide.xs>
    <app-profile-header [userID]="currentUser.uid"></app-profile-header>
    <app-new-post-form></app-new-post-form>
  </aside> 
  <ul>
    <app-recommended-users></app-recommended-users>
    <ng-container *ngFor="let post of postsSubscription | async; trackBy:trackFunction">
      <li class="post-wrapper" *ngIf="currentUser.following.includes(post.author) || currentUser.uid === post.author">
        <app-feed-post [post]="post"></app-feed-post>
      </li>
    </ng-container>    
  </ul>
  <!-- <ul>
    <app-recommended-users></app-recommended-users>
    <ng-container *ngFor="let post of pagination.data | async; trackBy:trackFunction">
      <li class="post-wrapper">
        <app-feed-post [post]="post"></app-feed-post>
      </li>
    </ng-container>   
    <p *ngIf="pagination.done">No more posts!</p> 
    <app-loading-spinner *ngIf="pagination.loading"></app-loading-spinner>
  </ul> -->
</div>

