@import '../../styles.scss';

:host {
  @include justify-align-direction(flex-start, center,column);
  min-height: 100vh;  
  background: color(background);

  .grid {
    margin-top: 4.2rem;
    display: grid;
    grid-template-columns: auto auto; 
    grid-column-gap: min(3vw,8rem);
    @include desktop-medium { 
      grid-template-columns: 1fr;
      grid-template-rows: auto auto; 
    }
  }
  ul {
    @include justify-align-direction(none, center, column);
    margin-top: 1.5rem;
    li {
      background: #ffffff;
      margin-bottom: 1.5rem;
      padding: 2rem;
      border-radius: 0.5rem; 
    }
  }
}


