@import '../../styles.scss';

:host {
  width: 100%;
  border-radius: 0.5rem;
  background-color: white;
}
.wrapper {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  h6 {
    font-size: 1.8rem;
    font-family: $font-main;
    margin-bottom: 1rem;
    text-overflow: ellipsis;
  }
  ul {
    @include justify-align-direction(flex-start, center, row);
    width: 100%;
    gap: 1rem; 
    overflow-x: auto;
    li {
      @include justify-align-direction(space-between, center, column);
      border: 0.1rem solid rgb(238, 238, 238);
      border-radius: 0.5rem;
      margin-bottom: 1rem;
      width: 16rem;
      height: 24rem;
      padding: 0.5rem;
      .profile-pic {
        width: 15rem;
        height: 15rem;
        background: blanchedalmond;
        background-position: center;
        background-size: cover;
        border-radius: 0.5rem;
        cursor: pointer;
      }
      p {
        padding: 0.3rem 0;
        width: 100%;
        font-family: $font-secondary;
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer;
      }      
    }  
  }  
}

@include mobile {
 .wrapper {
   width: 100%;
 }
}
.spinner-wrapper {
  width: 100%;
  @include justify-align-direction(center, center, row);
  margin-top: 2rem;
}