@import '../../styles.scss';

ul {
  @include justify-align-direction(flex-start, center, row);
  li {
    @include justify-align-direction(flex-start,center, row);
    font-size: 1.6rem;
    color: color(text-secondary-color);
    font-family: $font-main;
    margin-right:2rem;
    span {
      cursor: pointer;
      &::selection {
        color: none;
        background: none;
    }
    }
    .stat-count {
      margin: 0 0.5rem;
    }
  }
}
.liked {
  color: color(liked);
}