@import '../../styles.scss';

:host {
  @include justify-align-direction(flex-start,center, row);

  background-color: rgba(0,0,0,0.5) ;
  background-image: url(https://images.unsplash.com/photo-1503022584968-edbf200e0fb1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  .auth-text-wrapper {
    @include justify-align-direction(none, flex-start, column);
   
    margin: 0 1rem;
    margin-left: 20%;
    @include mobile {
      margin: 2rem 1rem;
      @include justify-align-direction(flex-start, flex-start, column);
    }
    h2 {
      font-size: 6.4rem;
      font-family: $font-secondary;
      font-weight: 700;
      margin: 1rem 0;
      color: #FFFFFF;
      width: 45rem;
      @include mobile {
        font-size: 4.8rem;
        width: 100%;
      }
    }
    h3 { 
      font-size: 2.4rem;
      font-family: $font-main;
      font-weight: 300;
      color: #FFFFFF;
      margin: 1rem 0;
      text-shadow: black 0 0.1rem 1.5rem;
      @include mobile {
        font-size: 1.8rem;
        width: 100%;
      }
    }
  }
}

button {
  margin-top: 3rem;
  padding: 1rem;
  width: 20rem;
  font-family: $font-main;
  background-color: #FFFFFF;
  background-color: map-get($colors, accent);
  color: #FFFFFF;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  @include mobile {
    width: 100%;
  }
  &:hover {
    background-color: map-get($colors, accent);
    background-color: #FFFFFF;
    color: #000; 
    cursor: pointer;
  }
}
