@import '../../styles.scss';

.auth-wrapper {
  background-color: rgba(0,0,0,0.5) ;
  background-image: url(https://images.unsplash.com/photo-1503022584968-edbf200e0fb1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;

  .auth-text-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    align-items: flex-start;
    margin-left: 20%;

    h2 {
      font-size: 6.4rem;
      font-family: $font-secondary;
      font-weight: 700;
      margin: 1rem 0;
      color: #FFFFFF;
      width: 45rem;
    }
    h3 { 
      font-size: 2.4rem;
      font-family: $font-main;
      font-weight: 300;
      color: #FFFFFF;
      margin: 1rem 0;
      text-shadow: black 0 0.1rem 1.5rem;
    }

  }
  .auth-button-wrapper { 
    @include flex-center(row);
    margin-top: 3rem;
  }
}

.google-sign-in-button {
  padding: 1rem;
  width: 20rem;
  font-family: $font-main;
  background-color: #FFFFFF;
  background-color: map-get($colors, accent);
  color: #FFFFFF;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  &:hover {
    background-color: map-get($colors, accent);
    background-color: #FFFFFF;
    color: #000; 
    cursor: pointer;
  }
}
