<form [formGroup]="postForm">
  <ul>
    <li>
      <label for="textContent">What's new?</label>
      <input type="text" id="text-content" formControlName="textContent"/>
      <span class="validator-error" *ngIf="textContent.errors?.maxlength && textContent.touched">Maximum length is 256</span>
    </li>
    <li>
      <label for="tag">Tag</label>
      <input type="text" id="tag" formControlName="tag"/>
      <span class="validator-error" *ngIf="tag.errors?.maxlength && tag.touched">Maximum length is 128</span>
      <span class="validator-error" *ngIf="tag.errors?.pattern && tag.touched">Only cyrillic, latin and numbers are accepted</span>
    </li>
    <li class="wrapper">
      <div class="pic-button-wrapper" 
      [ngClass]="{ 'ng-invalid ng-touched': this.postForm.controls.file.invalid && this.postForm.controls.file.touched}"
      (click)="hiddenfileinput.click()">
        <span class="mat-icons">image</span>
        <span>Attach pic!</span>
      </div>
      <progress max="100" min="0" [value]="progress"></progress> 
      <button (click)="onSubmit();">Post!</button>  
    </li>
  </ul>
  <div  *ngIf="imageLink" class="image" [style.backgroundImage]="this.imageLink | urlParentesis"></div>  
  <input type="file"
         accept="image/*"
         formControlName="file"
         id="hidden-file-input"
         (change)="onFileSelected($event)"
         name="image"
         autocomplete="off"
         #hiddenfileinput
      />
</form>

  

