@import '../../styles.scss';

:host {
  width: 100%;
}
form {
  padding: 2rem;
  margin-top: 1.5rem;
  
  border-radius: 0.5rem;
  background-color: #ffffff;

  font-size: 1.6rem;
  font-weight: 500;
  @include desktop-medium{
    width: 50rem;
  }
  ul {
    @include justify-align-direction(center, stretch, column);
  }
  li {
    @include justify-align-direction(center, flex-start, column);
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .wrapper {
    @include justify-align-direction(space-between, center,row);
  }
  label {
    margin-bottom: 0.5rem;
  }
  button {
    height: 2.4rem;
    padding: 0.1rem 1.5rem;

    cursor: pointer;
    color: #ffffff;
    background-color: color(accent);
    border: 0.1rem solid color(accent);
    outline: none;
    border-radius: 0.5rem;
    font-family: $font-main;
    font-size: 1.6rem;  
  }
  input {
    height: 2.5rem;

    border-radius: 0.5rem;
    border: 0.1rem solid rgb(238, 238, 238);
    outline: none;
    padding: 0.2rem;
    font-size: 1.6rem;
    width: 100%;
  }
}

#hidden-file-input {
  display: none;
}
.upload {
  cursor: pointer;
  display: inline-block;
  &:hover { 
    color: color(accent); 
  }
}

img { 
  width: 100%;
  height: auto;
  margin-top: 2rem;
}
input.ng-touched.ng-invalid{
  border-color: red;
}
