<form [formGroup]="postForm">
  <ul>
    <li>
      <label for="textContent">What's new?</label>
      <input type="text" id="text-content" formControlName="textContent" placeholder="What's new?"/>
    </li>
    <li>
      <label for="tag">Tag</label>
      <input type="text" id="tag" formControlName="tag" placeholder="Tag"/>
    </li>
    <li class="wrapper">
      <span class="material-icons upload" (click)="hiddenfileinput.click()">image</span>
      <progress max="100" min="0" [value]="progress"></progress> 
      <button
        [disabled]="this.postForm.invalid || this.isLoading"        
        (click)="this.isLoading = true; onSubmit();" 
        >Post!</button>  
    </li>
  </ul>
  <div  *ngIf="imageLink" class="image" [style.backgroundImage]="this.imageLink | urlParentesis"></div>  
  <input type="file"
         formControlName="file"
         id="hidden-file-input"
         (change)="onFileSelected($event)"
         name="image"
         autocomplete="off"
         #hiddenfileinput
      />
</form>

  

