<div class="image-wrapper">
  <ng-container [ngTemplateOutlet]="user ? userImage : defaultImage">
  </ng-container>
</div>
<div class="info-wrapper">
  <p class="name" (click)="this.router.navigate(['/profile', this.userID]); this.matDialog.closeAll()">{{user?.displayName}}</p>
  <p class="date">{{createTime | customDate}}</p>
</div>        

<ng-template #userImage>
  <div class="image" [style.backgroundImage]="this.user.photoURL | urlParentesis"></div>
</ng-template>


<ng-template #defaultImage>
  <div class="image"></div>
</ng-template>