/* You can add global styles to this file, and also import other style files */
@import './styles-reset.scss';

@mixin flex-center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

$font-main: 'Roboto', sans-serif; 
$font-secondary: 'Raleway', sans-serif;
$colors: (
  accent: #005FF9,
  background: #EFF0F4,
  text-secondary-color: #5F5F5F 
);

html {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
