
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$picloud-primary: mat-palette($mat-indigo);
$picloud-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$picloud-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$picloud-theme: mat-light-theme((
  color: (
    primary: $picloud-primary,
    accent: $picloud-accent,
    warn: $picloud-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($picloud-theme);

// Style-rest
@import './styles-reset.scss';
@import '~ngx-toastr/toastr';

@mixin justify-align-direction($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@mixin desktop-medium { 
  @media (max-width: #{$desktop-medium}) {
    @content;
  }
}

$desktop-medium: 1000px;

$font-main: 'Roboto', sans-serif; 
$font-secondary: 'Raleway', sans-serif;
$font-icons: 'Material Icons';

$colors: (
  accent: #005FF9,
  background: #EFF0F4,
  text-secondary: #5F5F5F,
  liked: #FF3347,
  error: #e61b1b
);
@function color($color-name) {
  @return map-get($colors, $color-name)
}
html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}
body {  
  box-sizing: border-box;
}
.material-icons {
  font-family: $font-icons;
  font-size: 2.4rem;
  color: color(text-secondary);
  &::selection {
    color: none;
    background: none;
  }  
}
a {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
  }
}
.toast-message {
  font-size: 1.6rem;
  font-family: $font-secondary;
  font-weight: 400;
  border-radius: 0.5rem;
}
.toast-bottom-center {
  bottom: 2rem;  
}
.toast-success {
  background-color: color(accent); 
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23ffffff'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'/%3E%3C/svg%3E");
}
.toast-error {
  background-color: color(error);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23ffffff'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z'/%3E%3C/svg%3E");
}
// Angular Material addons
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }