@import '../../styles.scss';

:host {
  @include justify-align-direction(flex-start, center, row);

  background-color: color(background);
  padding: 0.5rem;
  border: 0.1rem solid #B0B0B0;
  border-radius: 0.5rem;
  
  input {
    background-color: color(background);
    border: none;
    outline: none;
    padding: 0;
    font-family: $font-main;
    font-size: 1.4rem;
    width: 100%;
  }
  .icon-wrapper {
    margin: 0 0.2rem;
  }
}