@import '../../styles.scss';

.search-wrapper {
  @include flex-center(row);
  justify-content: flex-start;
  background-color: map-get($colors, background);
  padding: 0.5rem;
  border: 1px solid #B0B0B0;
  border-radius: 5px;
  flex-grow: 3;
  
  input {
    background-color: map-get($colors, background);
    border: none;
    outline: none;
    padding: 0;
    font-family: $font-main;
    font-size: 1.6rem;
    width: 100%;
  }
  .icon-wrapper {
    margin: 0 0.2rem;
  }
}